// Colours pallet

// Different blues

$darker-blue:#061835;
$dark-blue:#345995;
$blue:#2081C3;
$light-blue:#B9E6FF;

// other colours
$copper:#B58147;
$black:#0B0A07;
$lilac:#9c528B;
$mulberry:#B95F89;
$white: #fff;
$grey:#EEF0F4;

